body{
  font-family: "Montserrat";
  text-align: center;
}
h3{
  font-weight: bold;
}
h2{
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
#h1{
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: left;
}
#title {
  background-color: #ff4c68;
  color: #fff;
}
.container-fluid{
  padding: 3% 15% 7%;
}

.navbar-brand{
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
}
.navbar{
  padding-bottom: 4.5rem;
}
.download-btn{
  margin: 5% 3% 5% 0;
}
.title-image{
  width: 18%;
  transform: rotate(25deg);
  position: absolute;
}
.icon{
  font-size: 3.5rem;
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
#features{
  padding: 7% 15%;
  position: relative;
  z-index: 1;
  background-color: #fff;
}
.features-box{
  padding: 5%;
}
.features-box-p{
  color: #8f8f8f;
}

#testimonials{
  background-color: #ff4c68;
  color: #fff;
}

.testimonial-img{
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

#press{
  background-color: #ff4c68;
  padding: 3%;
}

.press-img{
  width: 13%;
  margin: 10px 20px 50px;
}

#pricing{
  padding: 100px;
}

.pricing-columns{
  padding: 3% 2%;
}

#cta{
  background-color: #ff4c68;
  padding: 5%;
}

.cta-h3{
  font-family: "Montserrat";
  color: #fff;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  padding: 3% 7%;
}

#footer{
  padding: 3% 7%;
  background-color: #fff;
}

.footer-brand{
  margin: auto 1rem;
}

@media (max-width: 1028px) {
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}
